aiohttp==3.6.2
aiohttp-sse==2.0.0
async-timeout==3.0.1
attrs==19.3.0
autobahn==19.10.1
bcrypt==3.1.7
boto3==1.10.8
botocore==1.13.8
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
cssselect2==0.2.2
cycler==0.10.0
Cython==0.29.14
dbus-python==1.2.12
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
ffmpeg-python==0.2.0
Flask==1.1.1
Flask-WTF==0.14.2
future==0.18.2
h5py==2.10.0
html5lib==1.0.1
idna==2.5
idna-ssl==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jsonpickle==1.2
kiwisolver==1.1.0
llvmlite==0.30.0
MarkupSafe==1.1.1
matplotlib==3.1.1
msgpack==0.6.2
multidict==4.5.2
netifaces==0.10.9
numba==0.46.0
numpy==1.17.3
pandas==0.25.3
Pillow==6.2.1
protobuf==3.10.0
psutil==5.6.4
pycairo==1.18.2
pycparser==2.19
pyinotify==0.9.6
PyJWT==1.7.1
PyGObject==3.34.0
pyparsing==2.4.2
Pyphen==0.9.5
pyserial==3.4
python-dateutil==2.8.1
python4yahdlc==1.2.0
pytz==2019.3
pyudev==0.21.0
PyWavelets==1.1.1
PyYAML==5.1.2
reportlab==3.5.32
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
smbus-cffi==0.5.1
tinycss2==1.0.2
txaio==18.8.1
typing-extensions==3.7.4.1
ujson==1.35
urllib3==1.25.6
urwid==2.0.1
uvloop==0.13.0
uWSGI==2.0.18
WeasyPrint==50
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.0
WTForms==2.2.1
xmlrunner==1.7.7
yarl==1.3.0
-r requirements-crossbar.txt